[Desktop Entry]
Version=1.0
Name=OpenGamepadUI Installer
GenericName=Open source gamepad-native OS installer
Type=Application
Comment=Open source gamepad-native OS installer
Exec=opengamepadui-installer
Terminal=false
StartupNotify=false
